.main {
    padding: 20px;
    font-family: 'Arial';
    box-shadow: 5px 5px 7px 5px #8888;
}

.main h2 {
    font-size: 24px;
    text-align: center;
    font-family: 'Arial';
}

input {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%; /* Reduce width to make the input fields smaller */
    font-size: 16px; /* Reduce font size */
    padding: 10px; /* Reduce padding */
    margin: 8px auto; /* Center the input fields horizontally */
    display: block; /* Ensure each input field is on a new line */
    border: none;
    border-bottom: 2px solid #764776;
}

input[type=submit] {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%; /* Reduce width to make the button smaller */
    background-color: #764776;
    border: none;
    color: white;
    padding: 12px 24px; /* Reduce padding */
    margin: 20px auto; /* Center the button horizontally */
    display: block; /* Ensure the button is on a new line */
    border-radius: 10px;
}
